<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.churchconnect.repository.member.MyBatisMemberMapper">
  <sql id="searchCriteria">
    <if test="name != null and name != ''">
      AND name Like CONCAT('%',#{name},'%')
    </if>
    <if test="cellName != null and cellName != ''">
      AND cell_name Like CONCAT('%',#{cellName},'%')
    </if>
  </sql>

  <select id="findBySearchCriteria" resultType="MemberEntity">
    SELECT id,
           name,
           birth_date,
           phone_number,
           registration_date,
           position,
           cell_name,
           address,
           family_info,
           note,
           gender,
           created_at,
           updated_at,
           deleted_at
    FROM member
    WHERE deleted_at IS NULL
        <include refid="searchCriteria"/>
    ORDER BY registration_date DESC, id DESC
    <if test="page > 0 and pageListSize > 0">
      <bind name="offset" value="(page-1)*pageListSize" />
      LIMIT #{offset}, #{pageListSize};
    </if>
  </select>

  <select id="totalCountByCriteria" resultType="int">
    SELECT COUNT(*)
    FROM member
    WHERE deleted_at IS NULL
        <include refid="searchCriteria"/>
  </select>
</mapper>